<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home page</title>
    <link rel="stylesheet" href="/css/home.css">
</head>

<body>
    <main>
        <div class="meeting-box">
            <div class="logo">
                <span id="login-user">Guest</span>
            </div>
            <h1>Video calls and meeting for everyone</h1>
            <label for="create-meeting">Create a meeting for later : </label>
            <button type="button" name="create-meeting" id="create-meeting">Create</button>
            <br><br>
            <label for="start-meeting">Start an instant meeting : </label>
            <button type="button" name="start-meeting" id="start-meeting">Start</button>
        </div>
        <div class="meeting-info" style="display: none;">
            <div class="card">
                <div class="card-header">
                    <h2>Meeting Information</h2>
                </div>
                <div class="card-body">
                    <p class="meeting-link">Meeting Link:
                        <a id="meet-link"></a>
                    </p>
                    <p>Join us for the meeting!</p>
                </div>
            </div>
        </div>
    </main>
    <script src="/js/home.js"></script>
</body>

</html>